.emoji {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}
.tags > a {
    border: 1px solid #5694f1;
    border-radius: .2em;
    padding: .2em 1em;
    vertical-align: 0.6em;
}
#disqus_thread, #ds-thread {
    margin-top: 10px;
}